
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


*{
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'WorkSans', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

/* typography ============== */

h1 {
	font-weight: 300;
	font-size: 2rem;
	margin-top: 0;
}

.title{
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

@media (min-width:60rem) {
	.title {
		font-size: 3.7rem;
	}
}

/* Buttons */

.button{
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em
	color: #FFF;
}

.button-accent{
	color: #00ff6c;
	border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus {
	background: #00ff6c;
	color: #232323;
}

@media (min-width: 60rem) {
	.button{
		font-size: 1.5rem;
	}
}

/* Header ====*/

header {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 1em;
}

nav ul {
	margin: 0
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9em;
	padding: .5em;
	color: #FFF;
}

nav a:hover,
nav a:focus{
	color: #DDD;
}

@media (min-width:60rem) {
	.logo {
		float: left;
	}

	nav {
		float: right;
	}
}


/* home-main ============ */

.home-main {
	background-image: url(../images/Bg.jpg);
	padding: 5em,0;
	background-size: cover;
	background-position: center;
	color: #FFF;
}

@media (min-width: 60rem) {
	.home-main {
		height: 100vh;
		padding-top: 45vh;
	}
}

/* home-sub ======= */

.home-sub-textbox {
	background-color: #232323;
	padding: 3em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #00ff6c;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-sub-textbox h1 {
	color: #00ff6c;
	position: top;
	left: 50%
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .145em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-sub-textbox h1 {
		top: .6rem;
		padding: 0 .325em;
	}
} 

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-sub-textbox {
		width: 100vw;
		margin-left: 

	}

	.home-sub-textbox h1 {
		top: .3rem;
		padding: 0 .6em;
	}
}